# create table
CREATE TABLE customer(
id integer primary key autoincrement,
name text not null,
category integer,
region text);

# table column info
PROGMA table_info(customer)

# insert
INSERT INTO customer(name, category, region) VALUES ('Alex', 1, 'SEA');

# select
SELECT * FROM customer;

# connect
    conn = sqlite3.connect('etc/test.db')
    cur = conn.cursor()
    cur.execute('select * from customer')
    rows = cur.fetchall()
    for row in rows:
        print(row)
    conn.close()

In [3]:
import sqlite3
conn = sqlite3.connect('etc/test.db')
cur = conn.cursor()
cur.execute('select * from customer')
rows = cur.fetchall()
for row in rows:
    print(row)
conn.close()

(1, 'Alex', 1, 'SEA')
(2, '홍길동', 1, '서울')
(3, '이몽룡', 1, '남원')
(4, '유관순', 2, '수원')

In [5]:
import sqlite3
conn = sqlite3.connect('etc/test.db')
cur = conn.cursor()
sql = 'select * from customer where category=? and region=?'
cur.execute(sql, (1, 'SEA'))
rows = cur.fetchall()
for row in rows:
    print(row)
conn.close()

(1, 'Alex', 1, 'SEA')

In [6]:
import sqlite3
conn = sqlite3.connect('etc/test.db')
cur = conn.cursor()
sql = 'select * from customer where id = :id'
cur.execute(sql, {"id": 1})
rows = cur.fetchall()
for row in rows:
    print(row)
conn.close()

(1, 'Alex', 1, 'SEA')

In [7]:
import sqlite3
conn = sqlite3.connect('etc/test.db')
cur = conn.cursor()
data = (
    ('홍길동', 1, '서울'),
    ('이몽룡', 1, '남원'),
    ('유관순', 2, '수원'),
)
sql = 'INSERT INTO customer(name, category, region) VALUES (?, ?, ?)'
cur.executemany(sql, data)
conn.commit()
conn.close()

In [9]:
import sqlite3
conn = sqlite3.connect('etc/test.db')
with conn:
    cur = conn.cursor()
    sql = 'select * from customer'
    cur.execute(sql)
    rows = cur.fetchall()
    for row in rows:
        print(row)

(1, 'Alex', 1, 'SEA')
(2, '홍길동', 1, '서울')
(3, '이몽룡', 1, '남원')
(4, '유관순', 2, '수원')
(5, '홍길동', 1, '서울')
(6, '이몽룡', 1, '남원')
(7, '유관순', 2, '수원')