In [1]:
user = input("입력:")
print(user*2)

입력: aa

aaaa

In [2]:
num = input("숫자를 입력하세요.:")
print(10 + int(num))

숫자를 입력하세요.: 3

13

In [3]:
oddnum = input("숫자를 입력하세요.:")
if int(oddnum) %2 == 0:
    print("짝수")
else:
    print("홀수")
num = int(oddnum) - 20
if num > 255:
    print(255)
elif num < 0:
    print(0)
else:
    print(num)

숫자를 입력하세요.: 5

홀수
0

In [4]:
fruit = ["사과","포도","홍시"]
user = input("좋아하는 과일:")
if user in fruit:
    print("OK")
else:
    print("NO")

좋아하는 과일: apple

NO

In [65]:
fruitSeason = {"봄":"딸기","여름":"수박","가을":"사과"}
for i in fruitSeason:
    print(i, fruitSeason[i])
print("")
for key in fruitSeason.keys():
    print(key)
print("")
for val in fruitSeason.values():
    print(val)

봄 딸기
여름 수박
가을 사과

봄
여름
가을

딸기
수박
사과

In [6]:
# ph = input("휴대전화 번호:")
ph = "010-2995-5083"
phnum = ph.split("-")
# print(type(phnum))
# print(len(phnum))
for i in phnum:
    print(i)

010
2995
5083

In [12]:
for i in range(2,10):
    for j in range(1,10):
        print(i*j, end=" ")
    print("")

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [14]:
tlist = [1,2,3]
for i in tlist:
    print("{} * {} = {}".format(i, i, i*i))

1 * 1 = 1
2 * 2 = 4
3 * 3 = 9

In [17]:
fn = "adbkd.py"
fname = fn.split(".")
print(fname)
print(fname[0])
print(fname[1])

['adbkd', 'py']
adbkd
py

In [25]:
print(list(range(10)))
print(list(range(2002,2050,4)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2002, 2006, 2010, 2014, 2018, 2022, 2026, 2030, 2034, 2038, 2042, 2046]

In [30]:
for i in range(2,10):
    for j in range(1,10):
        print("{} * {} = {}".format(i,j,i*j))
    print("")

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [36]:
plist = [25,30,53,54]
for i, data in enumerate(plist):
    print(i, data)
    if i==3:
        print("")
        print(i, data)

0 25
1 30
2 53
3 54

3 54

In [48]:
apart = [[101,102],[201,202],[301,302]]
result = []
for row in apart[::-1]:
    for col in row[::-1]:
        print(col)
        result.append(col)
    print("-"*3)
    result.append("-"*4)
print("")
for a in result:
    print(a)

302
301
---
202
201
---
102
101
---

302
301
----
202
201
----
102
101
----

In [50]:
def bit_coin():
    print("비트코인")
bit_coin()

비트코인

In [52]:
strd = "abcde"
print(strd[::-1])

edcba

In [63]:
sc = [35,30,40]
print("{} / {}\n{}".format(sum(sc),len(sc),sum(sc)/len(sc)))
print("")
for i in sc:
    if i % 2 == 0:
        print(i)

105 / 3
35.0

30
40

In [67]:
def pickup_even(items):
    result = []
    for item in items:
        if item % 2 == 0:
            result.append(item)
    return result
pickup_even([3,4,5,6,7,8])

[4, 6, 8]

In [78]:
import datetime
now = datetime.datetime.now()
print(now, type(now))
print("")
for day in range(5,0,-1):
    delta = datetime.timedelta(days=day)
    print(delta)
    date = now - delta
    print(date)
print("")
datestr = "2020-10-5"
print(datetime.datetime.strptime(datestr,"%Y-%m-%d"))

2020-10-16 18:05:04.747175 <class 'datetime.datetime'>

5 days, 0:00:00
2020-10-11 18:05:04.747175
4 days, 0:00:00
2020-10-12 18:05:04.747175
3 days, 0:00:00
2020-10-13 18:05:04.747175
2 days, 0:00:00
2020-10-14 18:05:04.747175
1 day, 0:00:00
2020-10-15 18:05:04.747175

2020-10-05 00:00:00

In [80]:
import time
import datetime
#while True:
for i in range(5):
    now = datetime.datetime.now()
    print(now)
    time.sleep(1)

2020-10-16 18:06:57.839282
2020-10-16 18:06:58.840013
2020-10-16 18:06:59.840058
2020-10-16 18:07:00.841138
2020-10-16 18:07:01.841171

In [81]:
import os
ret = os.getcwd()
print(ret, type(ret))

C:\Users\molo\jNote <class 'str'>

In [15]:
class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex
#         print("응애응애")
    def who(self):
        print("이름:{} 나이:{} 성별:{}".format(self.name, self.age, self.sex))
    def setInfo(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex
        
areum = Human("아름", 24, "여자")
print(areum.name)
print(areum.age)

areum.setInfo("아름", 25, "여자")
areum.who()
Human.who(areum)
del(areum)

아름
24
이름:아름 나이:25 성별:여자
이름:아름 나이:25 성별:여자

In [21]:
class OMG:
    def print(self):
        print("Oh My God")

mystock = OMG()
mystock.print()
OMG.print(mystock)

Oh My God
Oh My God

In [25]:
class Stock:
    def __init__(self, name, code):
        self.name = name
        self.code = code
    def set_name(self, name):
        self.name = name
    def set_code(self, code):
        self.code = code

a = Stock(None, None)
a.set_name("삼성전자")
a.set_code("3434343")
print(a.name)
print(a.code)

삼성전자
3434343

In [37]:
import random
class Account:
    account_count = 0
    def __init__(self, name, balance):
        self.deposit_count = 0
        self.deposit_log = []
        self.withdraw_log = []
        self.name = name
        self.balance = balance
        self.bank = "SC은행"
        
        num1 = random.randint(0,999)
        num2 = random.randint(0,99)
        num3 = random.randint(0,999999)
        
        num1 = str(num1).zfill(3)
        num2 = str(num2).zfill(2)
        num3 = str(num3).zfill(6)
        self.account_number = num1 + '-' + num2 + '-' + num3
        
        Account.account_count += 1

    def get_account_num(cls):
        print(cls.account_count)
    
    def deposit(self, amount):
        if amount >= 1:
            self.balance += amount
            self.deposit_log.append(amount)
            
            self.deposit_count += 1
            if self.deposit_count % 5 == 0:
                self.balance = (self.balance * 1.01)
    
    def withdraw(self, amount):
        if self.balance > amount:
            self.withdraw_log.append(amount)
            self.balance -= amount
    
    def display_info(self):
        print("은행이름:", self.bank)
        print("예금주:", self.name)
        print("계좌번호:", self.account_number)
        print("잔고:", self.balance)
    
    def deposit_history(self):
        for amount in self.deposit_log:
            print("deposit:", amount)

    def withdraw_history(self):
        for amount in self.withdraw_log:
            print("withdraw:",amount)

        
kim = Account("김민수", 100)
lee = Account("이민수", 100)
kim.get_account_num()
print("")
lee.display_info()
print("")
lee.deposit(1000)
lee.deposit(1000)
lee.deposit(1000)
lee.deposit(1000)
lee.deposit(1000)
lee.display_info()
print("")
data = []
data.append(kim)
data.append(lee)
for c in data:
    if c.balance >= 1000:
        c.display_info()
        c.deposit_history()
        c.withdraw_history()

2

은행이름: SC은행
예금주: 이민수
계좌번호: 352-58-485330
잔고: 100

은행이름: SC은행
예금주: 이민수
계좌번호: 352-58-485330
잔고: 5151.0

은행이름: SC은행
예금주: 이민수
계좌번호: 352-58-485330
잔고: 5151.0
deposit: 1000
deposit: 1000
deposit: 1000
deposit: 1000
deposit: 1000

In [52]:
class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격
    def 정보(self):
        print("바퀴수:", self.바퀴)
        print("가격:", self.가격)

class 자전차(차):
    def __init__(self, 바퀴, 가격, 구동계):
        super().__init__(바퀴, 가격)
#         차.__init__(self, 바퀴, 가격)
        self.구동계 = 구동계
    def 정보(self):
        super().정보()
        print("구동계:", self.구동계)

class 자동자(차):
    def __init__(self, 바퀴, 가격):
        super().__init__(바퀴, 가격)

bycycle = 자전차(2, 100, "모터")
bycycle.정보()
print("")
car = 자동자(4, 100)
car.정보()

바퀴수: 2
가격: 100
구동계: 모터

바퀴수: 4
가격: 100

In [57]:
class 부모:
    def __init__(self):
        print("부모생성")
    def 호출(self):
        print("부모호출")

class 자식(부모):
    def __init__(self):
        print("자식생성")
        super().__init__()
    def 호출(self):
        print("자식호출")

나 = 자식()
print("")
나.호출()

자식생성
부모생성

자식호출

In [59]:
f = open("note.txt", mode="wt", encoding="utf-8")
f.write("23523\n")
f.write("23522\n")
f.write("23521")
f.close()

In [69]:
f = open("note.txt", encoding="utf-8")
lines = f.readlines()
codes = []
for line in lines:
    code = line.strip()
    codes.append(code)
f.close()
print(codes)

['23523', '23522', '23521']

In [82]:
per = ["10.31", "", "8.00"]
for i in per:
    try:
#         print(type(i))
        print(float(i), end=" ")
    except:
        print(0, end=" ")
    else:
        print("clean data", end=" ")
    finally:
        print("완료")

10.31 clean data 완료
0 완료
8.0 clean data 완료

In [77]:
try:
    b = 3/0
except ZeroDivisionError:
    print("0으로 나누면 안됨")

0으로 나누면 안됨